{% extends 'base.html' %}

{% block head %} <title>New post</title>{% endblock %}

{% block body %}

<hr>
<h2>New Blog Post:</h2>

<form action="/new" method='POST'>
    Title: <input class="form-control" type="text" name="title" id='title'>
    <br>
    Author: <input class="form-control" type="text" name="author" id="author">
    <br>
    Post: <textarea class="form-control" type="text" name="content" id="content"></textarea>
    <br>
    <input class="btn btn-success" type="submit" value="Save">
</form>
<hr>
{% endblock %}